<% if cookies["account_type"] == "admin" then %>

<h2>Administrator Console</h2>

<a href="/users/new"><button type="button" class="btn btn-info"> Add A New User </button></a>

|

<a href="/families/new"><button type="button" class="btn btn-info"> Add A New Family </button></a>

|

<a href="/projects"><button type="button" class="btn btn-info"> View All Projects </button></a>

|

<a href="/projects/new"><button type="button" class="btn btn-info"> Create New Project </button></a>

|

<a href="/gantts/new"><button type="button" class="btn btn-info"> Add Gantt Chart </button></a>

|

<a href="/photos/new"><button type="button" class="btn btn-info"> Add Photo </button></a>

<% else %>

  <h3><%= "You are not authorized to view this page. Please go back" %></h3>

<% end %>
