<% if cookies["account_type"] == "admin" then %>

<h2>Administrator Console</h2>

<a href="/projects"><button type="button" class="btn btn-info"> View All Client Projects </button></a>

|

<a href="/projects/new"><button type="button" class="btn btn-info"> Create A New Client Project </button></a>

|

<a href="/gantts/new"><button type="button" class="btn btn-info"> Add A New Gantt Chart </button></a>

|

<a href="/photos/new"><button type="button" class="btn btn-info"> Add A New Project Photo </button></a>

<% else %>

  <h3><%= "You are not authorized to view this page. Please go back" %></h3>

<% end %>
