<h1>My Profile</h1>

<% the_user = User.read(params["id"]) %>
<% the_user_id = the_user["id"] %>

<div class="row">

  <div class="col-md-8">

      <div class="row">
        <div class="col-md-12">
          <h4><font color="#e44628">Name: </font><%= @user["name"] %></font></h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4><font color="#e44628">Username: </font><%= @user["username"] %></h4>
        </div>
      </div>

       <div class="row">
        <div class="col-md-12">
          <h4><font color="#e44628">Password: </font><%= @user["password"] %></h4>
        </div>
      </div>

  </div>

</div>
<br>

<a href="/users/<%= the_user_id %>/edit"><button type="button" class="btn btn-info"> Edit Login Information </button></a>
