<!DOCTYPE html>
<html>
  <head>
    <title>Hollub Homes Client Connection</title>

    <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div align="center">

      <br><br>

      <img src="https://static.squarespace.com/static/534f4da8e4b0e68461b1d345/t/537b9196e4b0397c4f642981/1400607174606/Hollub-Homes-Custom-Home-Pinecrest-Modern.jpg?format=1500w" class="img-responsive" alt="Pinecrest Modern Custom Home" width="500">
      </img>

      <br><br>

      <img src="https://static.squarespace.com/static/534f4da8e4b0e68461b1d345/t/537e57bae4b07bfa9540a22d/1400788923339/Hollub%20Homes%20Awards%20banner?format=500w" class="img-responsive" alt="Pinecrest Modern Custom Home" width="500">
      </img>

    </div>

  </body>
</html>
