<!DOCTYPE html>
<html>
  <head>
    <title>Hollub Homes Client Connection</title>

    <%= stylesheet_link_tag    "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div align="center">

      <br>

      <img src="http://hollubhomes.com/site/photo_gallery/pictures/1/10.jpg" class="img-responsive" alt="Pinecrest Modern Custom Home" width="500">
      </img>

      <br><br>

      <img src="http://hollubhomes.com/site/images/footer2.jpg" class="img-responsive" alt="Pinecrest Modern Custom Home" width="800">
      </img>

    </div>

  </body>
</html>
