<h2 class="section-header">Add New Update</h2>

<br>

<form class="form-horizontal" role="form" action="/updates" method="post">

  <div class="form-group">
    <label class="col-sm-2 control-label">Update</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="summary" placeholder="What's Your Update?">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default"> Submit </button> or <a href="/projects/<%=cookies["current_project"]%>">Cancel</a>
    </div>
  </div>

</form>
