<% if cookies["account_type"] == "admin" then %>

<h2 class="section-header">Add A Photo</h2>

<br>

<form class="form-horizontal" role="form" action="/photos" method="post">

  <div class="form-group">
    <label class="col-sm-2 control-label">URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="url" placeholder="Web Address of Photo">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Caption</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="comment" placeholder="Photo Caption">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Project</label>
    <div class="col-sm-10">
    <%= select_tag "project_name", options_from_collection_for_select(Project.read.order("project_name"), "project_name", "project_name"), "class" => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn btn-success"> Submit </button> or <a href="/admin">Cancel</a>
    </div>
  </div>

</form>

<% else %>

  <h4 class="text-warning" align="center"><%= "You Are Not Authorized To View This Content!" %></h4>

<% end %>
