.logo { color: #e44628; }

.top_link { color: #e44628; }

.pull-right { color: #e44628; }

.text-warning { color: #EB7F32; }

.comments { color: #EB7F32; }

.side-bar-header { color: #e44628; }

.project-header { color: #e44628; }

.project-sub-header { color: #EB7F32; }
